DOMAIN_NAME=tpandya.42.fr

MYSQL_HOSTNAME=mariadb
MYSQL_DATABASE=wordpress
MYSQL_USER=wp_user
MYSQL_PASSWORD=new1234
MYSQL_ROOT_PASSWORD=@Tanmay1

EMAIL_USER=user@gmail.com
EMAIL_ROOT=root@gmail.com

WP_ADMIN_USER=supremeleader
WP_ADMIN_PASSWORD=iamfr
WP_USER=tpandya
WP_USER_PASSWORD=@Tanmay1

DATA_DIR=/home/rikku/data/
